<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

   <h1>Login de Usuario</h1>
   <form action="/usuarios/login" method="POST">
        <h3>Email</h3>
        <input type="email" name="email" id="">
        <h3>Senha</h3>
        <input type="password" name="senha" id="">
        <input type="checkbox" name="logado" id="logado">
        <label for="logado">Manter logado?</label>
        <button type="submit">Logar</button>
    </form>
</body>
</html>