<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

   <h1>Cadastro de Produto</h1>
   <form action="/produtos/criar" method="POST">
        <input type="text" name="nomeProduto" id="">
        <input type="number" name="precoProduto" id="">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>